* {
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
}
#img {
    width: 100px;
    height: 100px;
    border: 2px black solid;
}
#topSection {
    display: flex;
}
#objective {
    display: flex;
    border: 2px black solid;
    padding: 10px;
    
}
#education {
    display: flex;
}
#experience {
    display: flex;
}
#skills {
    display: flex;
    width: 100%;
    height: 100px;
}
.A {
    flex: 1;
}
.B {
    flex: 5;
}
#y {
    flex: 1;
}
#i {
    flex: 8;
}

.border {
    border: 2px black solid;
}
#lis ul li {
display: inline-block;
}
#header {
    text-align: center;
    width: 100%;
    padding: 15px 0px;
    background-color: black;
    color: white;
}