<!DOCTYPE html>
<html>

<head>
    <title>
        float
    </title>
    <link rel="stylesheet" href="about.css">
</head>

<body>
    <section id="header"><b>ABOUT ME</b></section>
     
<section id="topSection">
    <div id="y">
        <img src="imgs/" id="img" />
        
    </div>


    <div id="i">
        <b>YATIK MITTAL</b><br />


               &#9751 Lajpat Nagar, JAL
        <br /> &#9993 yatikmittal@gmail.com
        <br /> &#128222 +11123444 89<br />  
            &#128269 www.yatikdev.com<br /><br /><br />

    </div>
</section>
<section id="objective">
    <div class="A">
        <b>OBJECTIVE</b>
    </div>
    <div class="B">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, aliquam. Ut eligendi dolore earum, quisquam explicabo vero dolores minima aliquam quibusdam. Repudiandae eaque porro nemo alias cupiditate et dolore enim?
    <br /><br /></div>
</section>
<section class="border">
    <section><b>
        EDUCATION</b><br />
    </section><br />
    <section id="education">
        <div class="A">
        sep 2005 - feb 2007
        <br />
        <br /> <br />sep 2001 - jun 2005
        <br />
        <br />
        </div>
<div class="B">
        <b>Academy of art university, london</b>
        <br /> master in communication design
        <br />
        <br />
        <b>University of  art and design, New York</b>
        <br /> bachelor in graphic design
    <br /><br /></div>
    </section></section>
    <section class="border"><section>
        <b>EXPERIENCE</b>
    </section><br />
    
    <section id="experience">
        <div class="A">
        May 2009 - Feb 2010
        <br />
        <br />
        <br />
        <br />
        <br />
        <br /><br /><br /> Jun 2007 - May 2009
        </div>
    <div class="B">
        <b>Agency creative, London</b>
        <br /> Senior web designer
        <br />
        <br />
        <ul>
            <li>kjdfhljdfkjsjkjs k,h</li>
            
            <li>kljfdgjsdfghjfgshgkhjg</li>
            <br />
        </ul>
        <b>junior web designer</b>
        <br /> bachelor of science
        <br />
        <ul>
            <li>kkjxkjndkgkgdgdxhgj;kxn</li>
            <li>ldjgjds;;jgdhkjshkghlkg;kj</li>
        </ul>
    </div>
    </section></section>
    <section class="border">
    <section><b>SKILLS</b></section><br />
    <section id="skills">
    <div class="A"><b>Software Knowledge</b></div>
    <div id="lis" class="B">
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JS</li>
            <li>ANIMATION</li>
            
        </ul>
    </div> 
    </section></section>

</body>

</html>