<!DOCTYPE html>
<html>
    <head>
        <title>template</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="template.css">
    </head>
    <body>
        <section id="header">
            <div class="container">
                <ul>
                    <li><a href="" >HOME</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                    <li><a href="">SUPPORT</a></li>
                    <li><a href="">PORTFOLIO</a></li>
                </ul>
            </div>
        </section>
        <section id = "banner">
            <div class="container">
                <h3>I'm YATIK</h3> <br />
                <p>a creative web developer who <i class="fa fa-heart" aria-hidden="true"></i> to code</p>
            </div>
        </section>

<section id="footer">
    <section class="container">
    
        <div> &#9751 Lajpat Nagar, JAL
        <br /> &#9993 yatikmittal@gmail.com
        <br /> &#128222 +11123444 89<br />  
            &#128269 www.yatikdev.com<br />
        </div>
        <div>
            <ul>
                <li><a href="">HOME</a></li>
                <li><a href="about.html">ABOUT</a></li>
                <li><a href="">SUPPORT</a></li>
                <li><a href="">PORTFOLIO</a></li>
            </ul>
        </div>
    </section>  
</section> </body>
</html>