* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#hello {
    border: 5px black solid;
    background-color: aliceblue;
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 0px;
    right: 0;
}
#hi {
    border: 2px black dotted;
    background-color: bisque;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 10px;
}